@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Roles";
}

<h1>Roles</h1>
<a>
    <a asp-action="Create">Create</a>
</a>
<table class="table">
    <thead>
        <tr>
            @Html.DisplayNameFor(model=> model.Id)
        </tr>
        <tr>
            @Html.DisplayNameFor(model => model.Name)
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>

